@charset "utf-8";
/* header */
html{font-size:62.5%;}
body{font: 12px/140% 'Microsoft Yahei', 微软雅黑, Arial, san-serif;background:#2C95E7;-webkit-backface-visibility: hidden;}
.outer{position:relative;overflow:hidden;background:url(../images/bg2.png) center center no-repeat;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-ms-background-size:100% 100%;background-size:100% 100%;}
.outer:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .header{height:80px;line-height:80px;padding:0 1%;overflow:hidden;background:url(../images/bg3.png) center center no-repeat;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-ms-background-size:100% 100%;background-size:100% 100%;box-shadow:1px 1px 5px #016f9d;}
.outer .header:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .header .h_l{float:left;overflow:hidden;}
.outer .header .h_l img{width:500px;height:auto;vertical-align:middle;}
.outer .header .h_r{float:right;overflow:hidden;}
.outer .header .h_r ul li{float:left;color:#fff;font-size:14px;}
.outer .header .h_r ul li a{font-size:16px;color:#fff;padding:0 10px;cursor:pointer;-webkit-text-shadow:1px 1px 3px #000;-moz-text-shadow:1px 1px 3px #000;-ms-text-shadow:1px 1px 3px #000;text-shadow:1px 1px 3px #000;}
.outer .header .h_r ul li a:hover{text-decoration:underline;}

/*menu*/
.outer .menu_bar{position:relative;float:left;width:130px;overflow:hidden;background:url(../images/bg4.png) center center no-repeat;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-ms-background-size:100% 100%;background-size:100% 100%;box-shadow:1px 1px 5px #016f9d;}
.outer .menu_bar ul{position:absolute;left:0;top:50%;margin-top:-260px;}
.outer .menu_bar ul li{display:table;width:130px;height:130px;text-align:center;}
.outer .menu_bar ul li a{display:table-cell;vertical-align:middle;width:100%;height:100%;}
.outer .menu_bar ul li a img{width:45px;height:auto;vertical-align:middle;}
.outer .menu_bar ul li a p{color:#fff;font-size:18px;margin-top:10px;}
.outer .menu_bar ul li.current{background:#5ab9f3;}
.outer .menu_bar ul li:hover{background:#5ab9f3;box-shadow:0px 0px 1px #3f82ab;}

/*show content*/
.outer .show_content{float:right;overflow:hidden;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

/*content_1*/
.outer .show_content .content_1{text-align:center;}
.outer .show_content .content_1 .content_1_c{position:relative;width:600px;height:auto;margin:0 auto;}
.outer .show_content .content_1 .content_1_c > img{width:600px;height:555px;vertical-align:middle;}
.outer .show_content .content_1 .content_1_c .content_1_l{position:absolute;left:-280px;top:100px;width:200px;height:auto;}
.outer .show_content .content_1 .content_1_c .content_1_l .img_1{width:90px;height:90px;vertical-align:middle;}
.outer .show_content .content_1 .content_1_c .content_1_l .outside_network_set{margin-top:10px;cursor:pointer;}
.outer .show_content .content_1 .content_1_c .content_1_l .outside_network_set img{width:200px;height:auto;vertical-align:middle;}
.outer .show_content .content_1 .content_1_c .content_1_l .outside_network_set img:hover{width:110%;height:110%;}
.outer .show_content .content_1 .content_1_c .content_1_l .img_2{position:absolute;left:100px;top:170px;width:140px;height:auto;vertical-align:middle;margin-top:10px;}

.outer .show_content .content_1 .content_1_c .content_1_r{position:absolute;right:-280px;top:100px;width:200px;height:auto;}
.outer .show_content .content_1 .content_1_c .content_1_r .img_1{width:90px;height:90px;vertical-align:middle;}
.outer .show_content .content_1 .content_1_c .content_1_r .network_set{margin-top:10px;cursor:pointer;}
.outer .show_content .content_1 .content_1_c .content_1_r .network_set img{width:200px;height:auto;vertical-align:middle;}
.outer .show_content .content_1 .content_1_c .content_1_r .network_set img:hover{width:110%;height:110%;}
.outer .show_content .content_1 .content_1_c .content_1_r .img_2{position:absolute;right:90px;top:170px;width:140px;height:auto;vertical-align:middle;margin-top:10px;}

.outer .show_content .content_1 .content_1_c .content_1_port{position:absolute;left:50%;bottom:167px;margin-left:-115px;width:214px;height:28px;text-align:left;}
.outer .show_content .content_1 .content_1_c .content_1_port ul{}
.outer .show_content .content_1 .content_1_c .content_1_port ul:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .show_content .content_1 .content_1_c .content_1_port ul li{display:none;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li:nth-of-type(1){position:absolute;left:-22px;top:0px;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li:nth-of-type(2){position:absolute;left:7px;top:0;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li:nth-of-type(3){position:absolute;left:35px;top:0;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li:nth-of-type(4){position:absolute;left:63px;top:0;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li:nth-of-type(5){position:absolute;left:136px;top:0;}
/*兼容ie*/
.outer .show_content .content_1 .content_1_c .content_1_port ul li:first-child{position:absolute;left: 4px; top: -11px;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li:first-child+li{position:absolute;left:46px;top:-11px;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li:first-child+li+li{position:absolute;left:87px;top:-11px;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li:first-child+li+li+li{position:absolute;left:128px;top:-11px;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li:first-child+li+li+li+li{position:absolute;left:176px;top:-11px;}
.outer .show_content .content_1 .content_1_c .content_1_port ul li > img{width:35px;height:26px;vertical-align:middle;}

.outer .show_content .content_1 .content_1_c .article{position:absolute;left:0;top:0;text-align:center;}
.outer .show_content .content_1 .content_1_c .article img{width:600px;height:555px;vertical-align:middle;}


.outer .show_content .content_1 .content_1_c .content_1_b{position:absolute;left:0;bottom:-40px;width:100%;height:auto;}
.outer .show_content .content_1 .content_1_c .content_1_b p{height:40px;line-height:40px;color:#fff;font-size:20px;background:url(../images/bg5.png) no-repeat 21% center;-webkit-background-size:40px auto;-moz-background-size:40px auto;background-size:40px auto;}
.outer .show_content .content_1 .content_1_c .content_1_b p .connect_num{color:#1676c4;font-size:22px;font-style:italic;cursor:pointer;}

.outer .show_content > div:nth-of-type(n+2){display:none;}

/*content_2*/
.outer .show_content .content_2{overflow:hidden;}
.outer .show_content .content_2 .content_2_menu{width:750px;margin:0 auto;}
.outer .show_content .content_2 .content_2_menu ul{text-align:center;}
.outer .show_content .content_2 .content_2_menu ul:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .show_content .content_2 .content_2_menu ul li{width:250px;height:40px;line-height:40px;margin:0 auto;color:#92defa;font-size:22px;text-align:center;background:url(../images/bg7.png) no-repeat 18% center;-webkit-background-size:30px auto;-moz-background-size:30px auto;-ms-background-size:30px auto;background-size:30px auto;cursor:pointer;}
.outer .show_content .content_2 .content_2_menu ul li.active{color:#fff;background:url(../images/bg6.png) no-repeat 18% center;-webkit-background-size:30px auto;-moz-background-size:30px auto;-ms-background-size:30px auto;background-size:30px auto;-webkit-text-shadow:1px 1px 3px #ccc;-moz-text-shadow:1px 1px 3px #ccc;-ms-text-shadow:1px 1px 3px #ccc;text-shadow:1px 1px 3px #ccc;}
.outer .show_content .content_2 .content_2_menu ul li:hover{color:#fff;background:url(../images/bg6.png) no-repeat 18% center;-webkit-background-size:30px auto;-moz-background-size:30px auto;-ms-background-size:30px auto;background-size:30px auto;-webkit-text-shadow:1px 1px 3px #ccc;-moz-text-shadow:1px 1px 3px #ccc;-ms-text-shadow:1px 1px 3px #ccc;text-shadow:1px 1px 3px #ccc;}
.outer .show_content .content_2 .content_2_list{margin-top:20px;}
.outer .show_content .content_2 .content_2_list ul > li{width:750px;margin:0 auto;padding:20px 0;border:1px solid #92defa;background:rgba(51,51,51,0.1);}
.outer .show_content .content_2 .content_2_list ul li > div{width:500px;margin:0 auto;padding:10px 0;}
.outer .show_content .content_2 .content_2_list ul li > div label{display:inline-block;width:100px;height:40px;line-height:40px;text-align:right;font-size:16px;color:#fff;vertical-align:middle;}
.outer .show_content .content_2 .content_2_list ul li > div span{display:inline-block;width:280px;height:40px;line-height:40px;color:#7c7c7c;font-size:16px;text-align:center;vertical-align:middle;background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .show_content .content_2 .content_2_list ul li > div input{width:280px;height:40px;color:#666;font-size:14px;text-indent:10px;border:0 none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.outer .show_content .content_2 .content_2_list ul li > div input:focus{border:1px solid #2294c0;-webkit-box-shadow:0px 0px 5px #1e6b89;-moz-box-shadow:0px 0px 5px #1e6b89;box-shadow:0px 0px 5px #1e6b89;}
.outer .show_content .content_2 .content_2_list ul li .confirm{width:200px;padding:10px 0;margin-top:20px;border:0 none;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;background:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .show_content .content_2 .content_2_list ul li .confirm:hover{background:#fff;color:#0392d8;}

.outer .show_content .content_2 .content_2_list ul li div .select{display:inline-block;position:relative;cursor:pointer;}
.outer .show_content .content_2 .content_2_list ul li div .select > span{background:url(../images/bg8.png) no-repeat 95% center;background-color:#fff;-webkit-background-size:15px auto;-moz-background-size:15px auto;background-size:15px auto;}
.outer .show_content .content_2 .content_2_list ul li div .select .get_onlineStyle{position:absolute;left:0;top:40px;width:280px;border:1px solid #ccc;background:#fff;z-index:10;border-radius:5px;}
.outer .show_content .content_2 .content_2_list ul li div .select .get_onlineStyle dd{display:block;line-height:30px;font-size:14px;}

.outer .show_content .content_2 .content_2_list ul li div .select_mask{display:inline-block;position:relative;cursor:pointer;}
.outer .show_content .content_2 .content_2_list ul li div .select_mask > span{background:url(../images/bg8.png) no-repeat 95% center;background-color:#fff;-webkit-background-size:15px auto;-moz-background-size:15px auto;background-size:15px auto;}
.outer .show_content .content_2 .content_2_list ul li div .select_mask .get_mask{position:absolute;left:0;top:40px;width:280px;height:150px;overflow-y:scroll;border:1px solid #ccc;background:#fff;z-index:10;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:none;}
.outer .show_content .content_2 .content_2_list ul li div .select_mask .get_mask dd{display:block;line-height:30px;font-size:14px;}

.outer .show_content .content_2 .content_2_list ul li .wifi .wifi_logo{background:url(../images/wifi_1.png) no-repeat 90% center;background-size:auto 20px;}
.outer .show_content .content_2 .content_2_list ul li .wifi .select_wifi{display:inline-block;position:relative;cursor:pointer;}
.outer .show_content .content_2 .content_2_list ul li .wifi .select_wifi > span{background:url(../images/bg8.png) no-repeat 95% center;background-color:#fff;-webkit-background-size:15px auto;-moz-background-size:15px auto;background-size:15px auto;}
.outer .show_content .content_2 .content_2_list ul li .wifi .select_wifi .get_wifiList{position:absolute;left:0;top:40px;width:280px;height:150px;overflow-y:scroll;border:1px solid #ccc;background:#fff;z-index:10;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:none;}
.outer .show_content .content_2 .content_2_list ul li .wifi .select_wifi .get_wifiList dd{display:block;line-height:30px;font-size:14px;}
.outer .show_content .content_2 .content_2_list ul li .ip{display:none;}
.outer .show_content .content_2 .content_2_list ul li .mask{display:none;}
.outer .show_content .content_2 .content_2_list ul li .gateway{display:none;}
.outer .show_content .content_2 .content_2_list ul li .dns{display:none;}
.outer .show_content .content_2 .content_2_list ul li .use{display:none;}
.outer .show_content .content_2 .content_2_list ul li .wifi{display:none;}
.hover{background:#ccc;}

/*content_3*/
.outer .show_content .content_3{overflow:hidden;}
.outer .show_content .content_3 .content_3_menu{width:750px;margin:0 auto;}
.outer .show_content .content_3 .content_3_menu:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .show_content .content_3 .content_3_menu ul li{float:left;width:250px;height:40px;line-height:40px;color:#92defa;font-size:22px;text-align:center;background:url(../images/bg7.png) no-repeat 18% center;-webkit-background-size:30px auto;-moz-background-size:30px auto;-ms-background-size:30px auto;background-size:30px auto;cursor:pointer;}
.outer .show_content .content_3 .content_3_menu ul li.active{color:#fff;background:url(../images/bg6.png) no-repeat 18% center;-webkit-background-size:30px auto;-moz-background-size:30px auto;-ms-background-size:30px auto;background-size:30px auto;-webkit-text-shadow:1px 1px 3px #ccc;-moz-text-shadow:1px 1px 3px #ccc;-ms-text-shadow:1px 1px 3px #ccc;text-shadow:1px 1px 3px #ccc;}
.outer .show_content .content_3 .content_3_menu ul li:hover{color:#fff;background:url(../images/bg6.png) no-repeat 18% center;-webkit-background-size:30px auto;-moz-background-size:30px auto;-ms-background-size:30px auto;background-size:30px auto;-webkit-text-shadow:1px 1px 3px #ccc;-moz-text-shadow:1px 1px 3px #ccc;-ms-text-shadow:1px 1px 3px #ccc;text-shadow:1px 1px 3px #ccc;}

.outer .show_content .content_3 .content_3_list{width:750px;margin:0 auto;margin-top:20px;border:1px solid #92defa;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) p{color:#666;font-size:18px;text-align:center;padding:10px 0;background:none;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul{display:block;height:230px;max-height:230px;overflow-y:scroll;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li{padding:10px 0;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li:nth-of-type(1){background:#70a0d8;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li:nth-of-type(2n){background:#e2e2e2;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li span{display:block;float:left;text-align:center;vertical-align:middle;color:#666;font-size:16px;padding:5px 0;box-sizing:border-box;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li span:nth-of-type(1){width:400px;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li span:nth-of-type(2){width:260px;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li span:nth-of-type(3){width:50px;font-size:14px;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li:nth-of-type(n+2) span:nth-of-type(3){width:50px;font-size:14px;color:#fff;background:#f66;cursor:pointer;border-radius:5px;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li:nth-of-type(n+2) span.deleted:hover{background:#F00;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1) ul li:nth-of-type(n+2):hover{background:#ccc;}

.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) p{color:#666;font-size:18px;text-align:center;padding:10px 0;background:none;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul{display:block;height:230px;max-height:230px;overflow-y:scroll;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li{padding:10px 0;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li:nth-of-type(1){background:#70a0d8;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li:nth-of-type(2n){background:#e2e2e2;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li span{display:block;float:left;text-align:center;vertical-align:middle;color:#666;font-size:16px;padding:5px 0;box-sizing:border-box;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li span:nth-of-type(1){width:400px;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li span:nth-of-type(2){width:260px;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li span:nth-of-type(3){width:50px;font-size:14px;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li:nth-of-type(n+2) span:nth-of-type(3){width:50px;font-size:14px;color:#fff;background:#f66;cursor:pointer;border-radius:5px;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li:nth-of-type(n+2) span.deleted:hover{background:#F00;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2) ul li:nth-of-type(n+2):hover{background:#ccc;}

.outer .show_content .content_3 .content_3_list dl dd #list3{display:block;height:310px;max-height:310px;overflow-y:scroll;}
.outer .show_content .content_3 .content_3_list dl dd #list3 li{width:100%;overflow: hidden;}
.outer .show_content .content_3 .content_3_list dl dd #list3{padding:8px 0;}
.outer .show_content .content_3 .content_3_list dl dd #list3:after{ content:""; display:block; height:0; visibility:hidden; clear:both; }
.outer .show_content .content_3 .content_3_list dl dd #list3 .show_icon{float:left;margin-left:50px;}
.outer .show_content .content_3 .content_3_list dl dd #list3 .show_icon img{width:60px;height:60px;vertical-align:middle;}
.outer .show_content .content_3 .content_3_list dl dd #list3 .terminal_info{float:left;margin-left:30px;width:500px;height:88px;text-align:left;overflow:hidden;}
.outer .show_content .content_3 .content_3_list dl dd #list3 .terminal_info h2{text-align:left;color:#fff;font-size:20px;padding:10px 0;}
.outer .show_content .content_3 .content_3_list dl dd #list3 .terminal_info .info_type{color:#fff;font-size:16px;}
.outer .show_content .content_3 .content_3_list dl dd #list3 .terminal_info .info_type a{display:inline-block;padding:3px 5px;}
.outer .show_content .content_3 .content_3_list dl dd #list3 .terminal_info .info_type a label{font-size:16px;color:#fff;}
.outer .show_content .content_3 .content_3_list dl dd #list3 .terminal_info .info_type a span{font-size:16px;color:#fff;}

.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(2){display:none;}
.outer .show_content .content_3 .content_3_list dl dd:nth-of-type(1){display:none;}
/*content_4*/
.outer .show_content .content_4{overflow:hidden;}
.outer .show_content .content_4 .content_4_menu{width:750px;margin:0 auto;}
.outer .show_content .content_4 .content_4_menu:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .show_content .content_4 .content_4_menu ul li{float:left;width:250px;height:40px;line-height:40px;color:#92defa;font-size:22px;text-align:center;background:url(../images/bg7.png) no-repeat 12% center;-webkit-background-size:30px auto;-moz-background-size:30px auto;-ms-background-size:30px auto;background-size:30px auto;cursor:pointer;}
.outer .show_content .content_4 .content_4_menu ul li.active{color:#fff;background:url(../images/bg6.png) no-repeat 12% center;-webkit-background-size:30px auto;-moz-background-size:30px auto;-ms-background-size:30px auto;background-size:30px auto;-webkit-text-shadow:1px 1px 3px #ccc;-moz-text-shadow:1px 1px 3px #ccc;-ms-text-shadow:1px 1px 3px #ccc;text-shadow:1px 1px 3px #ccc;}
.outer .show_content .content_4 .content_4_menu ul li:hover{color:#fff;background:url(../images/bg6.png) no-repeat 12% center;-webkit-background-size:30px auto;-moz-background-size:30px auto;-ms-background-size:30px auto;background-size:30px auto;-webkit-text-shadow:1px 1px 3px #ccc;-moz-text-shadow:1px 1px 3px #ccc;-ms-text-shadow:1px 1px 3px #ccc;text-shadow:1px 1px 3px #ccc;}

.outer .show_content .content_4 .content_4_list{width:750px;margin:0 auto;margin-top:20px;border:1px solid #92defa;text-align:left;}
.outer .show_content .content_4 .content_4_list dl dd{padding:30px 20px;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(1) ul li{padding:6px 0;list-style:inside;color:#fff;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(1) ul li label{color:#fff;font-size:18px;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(1) ul li span{color:#fff;font-size:16px;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(1) ul li .refresh{padding:3px 10px;margin-left:10px;font-size:12px;cursor:pointer;background:#39C;border-radius:5px;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(1) ul li .refresh:hover{background:#36C;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(1) .update{width:200px;margin:0 auto;margin-top:20px;cursor:pointer;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(1) .update p{width:200px;padding:10px 0;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;background:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(1) .update p:hover{background:#fff;color:#0392d8;}

.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(2) ul li{padding:6px 0;text-align:center;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(2) ul li span{color:#fff;font-size:18px;line-height:24px;text-align:center;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(2) .recover{width:200px;margin:0 auto;margin-top:20px;cursor:pointer;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(2) .recover p{width:200px;padding:10px 0;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;background:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(2) .recover p:hover{background:#fff;color:#0392d8;}

.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(3) ul li{padding:6px 0;text-align:center;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(3) ul li span{color:#fff;font-size:18px;line-height:24px;text-align:center;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(3) .reboot{width:200px;margin:0 auto;margin-top:20px;cursor:pointer;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(3) .reboot p{width:200px;padding:10px 0;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;background:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(3) .reboot p:hover{background:#fff;color:#0392d8;}
.outer .show_content .content_4 .content_4_list dl dd:nth-of-type(n+2){display:none;}

/*运行状态*/
.outer .running_state{position:absolute;left:50%;top:50%;width:650px;padding:20px 0;margin:0 0 0 -325px;opacity:0.8;filter:alpha(opacity=80);background:#0873a6;background:rgba(8,115,166,0.8) !important;z-index:101;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:none;}
.outer .running_state ul li{width:400px;margin:0 auto;padding:10px 0;}
.outer .running_state ul li label{display:inline-block;width:150px;color:#fff;font-size:16px;text-align:right;}
.outer .running_state ul li span{display:inline-block;width:240px;color:#fff;font-size:16px;}
.outer .running_state .closed_state{width:200px;margin:0 auto;margin-top:20px;cursor:pointer;}
.outer .running_state .closed_state p{width:200px;padding:10px 0;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;background:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .running_state .closed_state p:hover{background:#fff;color:#0392d8;}

/*修改密码*/
.outer .change_pwd{position:absolute;left:50%;top:50%;width:650px;padding:20px 0;margin:0 0 0 -325px;opacity:0.8;filter:alpha(opacity=80);background:#0873a6;background:rgba(8,115,166,0.8) !important;z-index:101;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:none;}
.outer .change_pwd ul li{width:400px;margin:0 auto;padding:10px 0;}
.outer .change_pwd ul li label{display:inline-block;width:150px;color:#fff;font-size:16px;text-align:right;}
.outer .change_pwd ul li input{width:240px;padding:12px 0;border:0 none;background:#fff;text-indent:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-sizing:border-box;}
.outer .change_pwd ul li:nth-of-type(2){position:relative;}
.outer .change_pwd ul li:nth-of-type(3),.outer .change_pwd ul li:nth-of-type(4){display:none;}
.outer .change_pwd ul li span{position:absolute;right:-110px;top:50%;margin-top:-15px;height:30px;line-height:30px;padding:0 10px;font-size:14px;color:#fff;border:1px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer;}
.outer .change_pwd ul li span:hover{background:#fff;color:#0392d8;}
.outer .change_pwd ul li input:focus{-webkit-box-shadow:0px 0px 5px #CCC;-moz-box-shadow:0px 0px 5px #CCC;box-shadow:0px 0px 5px #CCC;}
.outer .change_pwd .btn{width:350px;margin:0 auto;}
.outer .change_pwd .btn:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .change_pwd .btn .closed{float:left;width:150px;margin:0 auto;margin-top:20px;cursor:pointer;}
.outer .change_pwd .btn .closed p{width:150px;padding:10px 0;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;background:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .change_pwd .btn .confirmation{float:right;width:150px;margin:0 auto;margin-top:20px;cursor:pointer;}
.outer .change_pwd .btn .confirmation p{width:150px;padding:10px 0;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;background:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .change_pwd .btn .closed p:hover{background:#fff;color:#0392d8;}
.outer .change_pwd .btn .confirmation p:hover{background:#fff;color:#0392d8;}

/*修改名称*/
.outer .change_wifiName{position:absolute;left:50%;top:50%;width:650px;padding:20px 0;margin:0 0 0 -325px;opacity:0.8;filter:alpha(opacity=80);background:#0873a6;background:rgba(8,115,166,0.8) !important;z-index:101;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:none;}
.outer .change_wifiName ul li{width:400px;margin:0 auto;padding:10px 0;}
.outer .change_wifiName ul li label{display:inline-block;width:150px;color:#fff;font-size:16px;text-align:right;}
.outer .change_wifiName ul li input{width:240px;padding:12px 0;border:0 none;background:#fff;text-indent:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-sizing:border-box;}
.outer .change_wifiName ul li input:focus{-webkit-box-shadow:0px 0px 5px #CCC;-moz-box-shadow:0px 0px 5px #CCC;box-shadow:0px 0px 5px #CCC;}
.outer .change_wifiName .btn{width:350px;margin:0 auto;}
.outer .change_wifiName .btn:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.outer .change_wifiName .btn .closed{float:left;width:150px;margin:0 auto;margin-top:20px;cursor:pointer;}
.outer .change_wifiName .btn .closed p{width:150px;padding:10px 0;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;background:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .change_wifiName .btn .confirmation{float:right;width:150px;margin:0 auto;margin-top:20px;cursor:pointer;}
.outer .change_wifiName .btn .confirmation p{width:150px;padding:10px 0;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;background:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.outer .change_wifiName .btn .closed p:hover{background:#fff;color:#0392d8;}{background:#fff;color:#0392d8;}
.outer .change_wifiName .btn .confirmation p:hover{background:#fff;color:#0392d8;}{background:#fff;color:#0392d8;}

.outer .transparent{position:fixed;left:0;top:0;width:100%;height:100%;pointer-events:auto;opacity:0.8;filter:alpha(opacity=80);background:#000;background:rgba(0,0,0,0.8) !important;z-index:100;display:none;}

.info_type{padding-top:10px;}
#show_setpass{display:none;}
#set_pass{width: 240px; padding: 12px 0; border: 0 none; background: #fff; text-indent: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-sizing: border-box;}
#set_pass option{display: block; padding: 0px 2px 1px; white-space: pre; min-height: 1.2em;}
#set_wifiPWD{display: none;}

.layui-anim{
	-webkit-animation:bounceIn .5s 0s ease alternate;
	-moz-animation:bounceIn .5s 0s ease alternate;
	animation:bounceIn .5s 0s ease alternate;
}

.fadeIn{
	-webkit-animation:fadeIn 1.5s 0s ease infinite;
	-moz-animation:fadeIn 1.5s 0s ease infinite;
	animation:fadeIn 1.5s 0s ease infinite;
}

.bounce{
	-webkit-animation:bounce 1.5s 1s ease infinite;
	-moz-animation:bounce 1.5s 1s ease infinite;
	animation:bounce 1.5s 1s ease infinite;
}

/*动画*/
@-webkit-keyframes bounceIn{
	0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@-moz-keyframes bounceIn{
	0%{opacity:0;-webkit-transform:scale(.5);-moz-transform:scale(.5);transform:scale(.5)}
	100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}
}
@keyframes bounceIn{
	0%{opacity:0;-webkit-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5)}
	100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}

@-webkit-keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}
@-moz-keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}


@-webkit-keyframes bounce{
	0%{opacity:0;-webkit-transform:scale(0.5);transform:scale(0.5);}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
}
@keyframes bounce{
	0%{opacity:0;-webkit-transform:scale(0.5);transform:scale(0.5);}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
}





@media screen and (min-device-width:1450px) and (max-device-width:1760px){
	.outer .show_content .content_1 .content_1_c .content_1_b{bottom:-20px !important;}
}
@media screen and (min-device-width:1024px) and (max-device-width:1449px){
	.outer .show_content .content_1 .content_1_c .content_1_b{bottom:0 !important;}
}
















